{
    padding: 0;
    margin: 0;
    font-size:40px;
}

.box-one {
    background-color: #EB5757;
    padding: 20px;x;
    border: 0px solid #9B51E0;
    margin: 20px;
}

.box-two {
    background-color: #2d9cdb;
    border: 0 solid #27AE60;
}